<!DOCTYPE html>
<html>
<head>
  <title>Trang web của tôi</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <iframe id="myframe" src="https://docs.google.com/presentation/d/1hoBu-iW6HiSoW1UOTt7ppTlBOey9MGFnAHucxIc6VUo/embed?start=false&loop=false&delayms=3000" width="800" height="600" allowfullscreen="true" onload="showURL()" onhashchange="showURL()"></iframe>
  <script>
    function showURL() {
      var iframe = document.getElementById("myframe"); // lấy tham chiếu đến khung bằng id
      var url = iframe.contentWindow.location.href; // lấy URL của khung
      alert(url); // hiển thị URL bằng cửa sổ thông báo
      // hoặc console.log(url); // hiển thị URL bằng console

      // gửi yêu cầu AJAX đến route /get_url của Flask và truyền URL như một tham số
      $.ajax({
        type: "POST",
        url: "{{ url_for('get_url') }}",
        data: {data: url}
      });
    }
  </script>
</body>
</html>
